/* Header */
header {
    background-color: #333; /* background color */
    color: #fff; /* text color */
    padding: 20px 0;
    position: fixed; /* Fix the header position */
    text-align: center; /* Center-align the header text */
    width: 100%; /* Make the header go all the way across */
    top: 0; /* Align the header to the top of the viewport */
    z-index: 1000; /* Ensure the header stays on top of other content */
    margin: 0;
    font-family:sans-serif; /* Specify the font family */
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
header nav ul li a {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /* Specify the font family */
}
/*body*/
body {
    display: flex; /* Display the body as a flex container */
    flex-direction: column; /* Stack the flex items vertically */
    min-height: 100vh;
    text-align: center; /* Center align all text within the body */
    position: relative;
    min-height: 100vh; /* Set the minimum height of the body to 100% of the viewport height */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #21b5b7;
}
/*contact form*/

.contact-form {
    border: 2px solid #252526; /* Add a border around the form */
    border-radius: 20px; /* Add rounded corners */
    display: inline-block; /* Display the form as an inline block */
    margin-bottom: 50px; /* Add margin to the bottom of the form */
}


/* Sections */
section {
    margin-bottom: 20px;
    padding-top: 100px; 
    margin-top: 30px;
    text-align: center;
    margin: 30px;
}

h1, h2, h3 {
    color: #333;

}

h1, h2, h3, p {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /* Specify the font family */
}

main {
    flex: 1; /* Allow the main content to grow to fill the available space */
    padding: 20px; /* Add padding around the main content */
    margin-bottom: 100px; /* Add margin to the bottom of the main content */

}
img {
    margin-bottom: 2px; /* Add margin to the bottom of the image */
    max-width: 10%; /* Set the maximum width to 100% of the container */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Ensure images are displayed as block elements */
    margin: auto; /* Add margin to center images horizontally */
    order: 10px solid #250af0; /* Add a border around the image */
}


/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    clear: both; /* Ensure footer clears any floated elements */
    position: relative; /* Set position to relative */
    margin-top: 20px; /* Add margin to create space between content and footer */
    font-family: Verdana, Geneva, sans-serif; 
}